/**
 * @name Discord-Outlook
 * @author Disease#5663
 * @version 1.0.0
 * @description Based on Outlook Web.
 * @source https://github.com/maenDisease/Outlook
 * @invite BShu37e4jg
 * @website https://maendisease.github.io/
 * @authorId 678469587444170762
 * @BDEditor Outlook
*/

@import url('https://maendisease.github.io/Outlook/Outlook.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css');

:root {
  --home-image: url('https://github.com/A-T-O-M-I-X/Discord-Outlook/blob/main/maxresdefault.jpg');
  --accent-hue: 311;
  --accent-saturation: 85%;
  --accent-brightness: 40%;
  --gradient-toggle: 0;
  --gradient-hue-shift: 0.2;
  --gradient-saturation: 50%;
  --gradient-deg: 179.52deg;
  --customFont: Segoe UI;
}

/* Any custom CSS below here */


